*, ul, .columns {
	margin: 0;
	padding: 0;
}

.U-right {
	float: right;
}

.U-white {
	color: white;
}

.float-left {
	float: left;
}

.inline-block {
	display: inline-block;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

ul {
	list-style: none;
}
	ul li {
		display: inline-block;
		margin: 0 1em 0 0;
	}

.contact {
	font-size: 1em;
}

.contact .email {
	font-size: 1em;
	line-height: 450%;
}

.box-W {
	background-color: white;
	height: 201px;
	padding: 2em;
}

.box1 {
	background-color: #252121;
	height: 400px;
	position: relative;
}
	.box1 p {
		bottom: 0.5em;
		font-size: 2em;
		font-weight: 200;
		line-height: 140%;
		padding: 0 3rem 1em 2rem;
		position: absolute;
	}

	.box1 a {
		color: white;
		display: block;
		font-size: 1.4rem;
		padding: 1em 0 0 1.5em;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
		.box1 a:hover {
			color: #64f2ee;
		}

.box2 {
	background-color: #252121;
	height: 201px;
	padding: 2em;
	position: relative;
	width: 100%;
}

	.box2 p {
		color: white;
		font-size: 1.6em;
	}

	.box2 a {
		bottom: 2em;
		color: white;
		font-size: 1.2em;
		position: absolute;
	}

		.box1 a:hover {
			color: #64f2ee;
		}	

.box3 {
	background-color: white;
	padding: 2em 3em 12.52rem 3em;
}

.box4 {
	background-color: #252121;
	height: 400px;
	position: relative;
}
	.box4 p {
		color: white;
		font-size: 1.2em;
		font-weight: 200;
		line-height: 140%;
		padding: 1.7em 3rem 0 2rem;
	}

.facebook {
	background-color: white;
	height: 202px;
	width: 50%;
}

.face {
	color: #252121;
	display: block;
	height: 100%;
	line-height: 202px;
	text-align: center;
  	vertical-align: middle;
}

.images {
	max-width: 50%;
}

.menu ul {
	padding: 2em;
	position: absolute;
	width: 100%;
	z-index: 5;
}

	.menu ul li a{
		color: #252121;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	
	.menu ul li .frei{
		color: white;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.menu a:hover {
		color: #3cb1c9;
	}

	.menu .frei:hover {
		color: #3cb1c9;
	}

.next {
	background-color: white;
	height: 201px;
	padding: 2em;
	position: relative;
}

	.next a {
		color: #252121;
		font-size: 1.5rem;
		font-weight: 300;
		position: absolute;
		
	}

	.next a:hover {
		color: #3d928f;
	}

.services {
	background-color: #252121;
	color: white;
	height: 400px;
	padding: 2em 3em 0 3em;
	position: relative;
}

.twitter {
	background-color: #252121;
	height: 202px;
	width: 50%;
}

.twitter2 {
	background-color: #252121;
	height: 198px;
	width: 50%;
}

.twit, .twit2 {
	color: white;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 202px;
  	vertical-align: middle;
}



